{% extends "base.html" %}

{% block title %}Login | {{ block.super }} {% endblock %}

{% block content %}
	<section id="loginmodal" class="modal hero is-fullheight is-dark is-bold">
	    <div class="hero-body">
	      <div class="container">
	        <div class="columns is-vcentered">
	          <div class="column is-4 is-offset-4">
	            <h1 class="title">
	              Login
	            </h1>
	            <form method="post" action="{% url 'login' %}">
	            	{% csrf_token %}
		            <div class="box">
		              <label class="label">{{ form.username.label}}</label>
		              <p class="control">
		                <input autofocus="" id="{{form.username.auto_id}}" name="{{form.username.name}}" class="input" type="text" placeholder="jsmith@example.org" required>
		              </p>
		              <label class="label">{{form.password.label}}</label>
		              <p class="control">
		                <input id="{{form.password.auto_id}}" name="{{form.password.name}}" class="input" type="password" placeholder="●●●●●●●" required>
		              </p>
						{% if form.errors %}
							<div class="help is-danger">
								<span>Your username and password didn't match. Please try again</span>
							</div>
						{% endif %}		              
		              <hr>
		              <input type="hidden" name="next" value="{% url 'home' %}" />
		              <p class="control">
		              	<input type="submit" class="button is-primary" value="Login">
		              	<input type="submit" class="button is-default" value="Cancel">
		              </p>
		            </div>
		        </form>
	            <p class="has-text-centered">
	              <a href="{% url 'users:signup' %}">Register an Account</a>
	              | 
	              <a href="#">Forgot password</a>
	              | 
	              <a href="{% url 'home' %}">Home</a>
	            </p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </section> 
{% endblock %}







