{% extends "base.html" %}
{% load humanize %}
{% load markdownify %}
{% block content %}
{% load staticfiles %}
<hr>
<div class="container">
	<section>
        <div id="main" class="tile">
            <div class="tile is-parent is-3">
                <article class="tile is-child">
                    <ul class="sizeup marginalized">
                        <li>Environment</li>
                        <li>Business</li>
                        <li>Computers</li>
                        <li>Graphics & Design</li>
                        <li>Operating Systems</li>
                        <li>Networking & Cloud Computing</li>
                        <li>Administration</li>
                        <li>Presentations</li>
                    </ul>
                </article>
            </div>
            <div class="tile is-parent is-9">
                    <div class="tile is-child is-12">
                      <div class="column is-paddingless is-marginless">
                          <p class="title is-3">{{ object.title }}</p>
                          <p class="subtitle is-5"><i>{{object.get_organizers_long}}</i></p>
                          <hr>
                      </div>
                      <article class="columns">
                        <div class="column">
                          <figure class="image is-128by128">
                            {% if object.poster_image.url != None %}
                              <img src="{{object.poster_image.url}}">
                            {% else %}
                              <img src="{% static "images/photo_not_available.jpg" %}" alt="not available">
                            {% endif %}
                          </figure>
                        </div>
                        <div class="column">
                          <div class="content">
                            <div class="columns is-mobile sizeup">
                              <div class="column is-marginless">
                                <p><strong>Venue :</strong></p>
                                <p><strong>Level :</strong></p>
                              	<p><strong>Event Date :</strong></p>
                                <p><strong>Registration :</strong></p>
                                <p><strong>Abstract (DL):</strong></p>
                                <br>
                                <p><strong>Paper (DL) :</strong></p>
                                <br>
                                <p><strong>Contact :</strong></p>
                              </div>
                              <div class="column is-marginless is-8">
                                <p>{{object.venue}}</p>
                                <p>{{object.get_level_display}}</p>
                                <p>{{object.start_date}} - {{object.end_date}}</p>
                                <p>P{{object.registration_fee|intcomma}}</p>
                                <p>{{object.abstract_deadline}}<br>({{object.abstract_deadline|naturaltime}})</p>
                              
                                <p>{{object.paper_deadline}}<br>({{object.paper_deadline|naturaltime}})</p>
                                <p>{{object.contact_details|linebreaks}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </article>
                      <hr>
                        <article class="columns">
                        <div class="column sizeup justify-it">
                          <h2><strong>Description of the Event:</strong></h2>
                            <p>
                            {{object.description|markdownify|safe}}
                            </p>
                        </div>
                      </article>
                      <hr>
                      <div class="columns ">
                        <div class="column is-one-quarter">
                          <a href="{{download_url}}" download="poster" class="button is-danger">
                          <span class="icon is-small">
                          <i class="fa fa-download">
                          </i></span><span>Download Poster (5.9 MB)</span></a>
                        </div>
                        <div class="column">
                          <a href="{{ object.poster_file_url}}" target="_blank" class="button is-danger">
                          <span class="icon is-small">
                          <i class="fa fa-book">
                          </i></span>
                          <span>Read Online</span></a>
                        </div>
                      </div>
                    <hr>
                    <strong><p class="sizeup">Related Conferences</p></strong><br>
                    <div class="columns">
                      <div class="column">
                          <figure class="image">
                            <img src="https://unsplash.it/800/600/?random">
                          </figure>
                          <p class="has-text-centered"><a href="#">Lipsum dolor eit</a></p>
                      </div>
                      <div class="column">
                          <figure class="image">
                            <img src="https://unsplash.it/800/600/?random">
                          </figure>
                          <p class="has-text-centered"><a href="#">Lipsum dolor eit</a></p>
                      </div>
                      <div class="column">
                          <figure class="image">
                            <img src="https://unsplash.it/800/600/?random">
                          </figure>
                          <p class="has-text-centered"><a href="#">Lipsum dolor eit</a></p>
                      </div>
                      <div class="column">
                          <figure class="image">
                            <img src="https://unsplash.it/800/600/?random">
                          </figure>
                          <p class="has-text-centered"><a href="#">Lipsum dolor eit</a></p>
                      </div>
                    </div>
                    <hr>

                    <div class="field is-horizontal">
                      <div class="field-label is-large">
                        <label class="label sizeup">Comment</label>
                      </div><br>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input class="input is-large" type="text" placeholder="Insert Comment">
                          </div>
                          <div class="control">
                            <button class="button is-primary">Send Message</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!--second main column -->

            </div>            
        </div>	

    </section>
</div> <!--container div -->

{% endblock %}